.hero
    padding: 50px 0
    &-block
        display: flex
    &-text
        flex-basis: 50%
        padding-right: 140px
        &__title
            font-size: 41px
            font-weight: 700
            color: $text-color
            line-height: 55px
            margin-bottom: 40px
        &__subtitle
            font-size: 20px
            color: $text-color
    &-list
        margin: 0
        padding: 0
        &__item
            display: flex

