@charset "UTF-8";
body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 750px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  display: block;
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar-block {
    padding: 5px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 130px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  color: #333333;
  line-height: 55px;
  margin-bottom: 40px;
  max-width: 600px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  color: #333333;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.hero-list__image img {
  max-width: 20px;
  max-height: 20px;
}

.hero-list__text {
  width: 280px;
}

.hero-list__list {
  padding: 0;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-image {
    margin-top: 40px;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-text__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    max-width: 300px;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    max-width: 250px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
  }
  .hero-list__item {
    margin-bottom: 15px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */